---
description: Sent when a user creates a new account from within the app
layout: enterprise-default.hbs
subject: GitKraken Enterprise — Account created
header: Thank you for creating a GitKraken Enterprise account
---

<p class='align-center'>
  If you did not create a GitKraken Enterprise account, please contact your system administrator.
</p>
