---
layout: enterprise-default.hbs
subject: GitKraken Enterprise — Reset your password
header: Reset your GitKraken Enterprise account password
---

<p>
  You recently requested to reset your GitKraken Enterprise account password. Reset your password below.
</p>

{{> button type='primary' align='center' url='%LINK_URL%' title='Reset Password' }}

<p>
  This password reset will expire in %EXPIRES_IN_HOURS% hours.
</p>
